#recipe-page {
  width: 90vw;
  max-width: 940px;
  margin: 0 auto 50px;
}

#recipe-page h1 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
}

#recipe-detail {
  width: 90vw;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px;
}

#recipe-detail .edit-recipe {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recipe-detail .edit-recipe a {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 4px;
  background-color: #6558C3;
  padding: 8px 16px;

  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

#recipe-detail .edit-recipe a span {
  margin-right: 5px;
  font-size: 18px;
}

#recipe-detail .edit-recipe a:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#recipe-detail h3 {
  font-size: 24px;
  line-height: 28px;
}

#recipe-detail .image-container {
  border-radius: 15px;
  width: 100%;
  height: 280px;

  margin-top: 20px;

  background-position: center;
  background-size: cover;
}

.recipe-title {
  text-align: center;
  margin: 50px auto;
}

.recipe-title h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 4px;
}

.recipe-title p {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: var(--color-text2);
}

.recipe-content {
  width: 100%;
  margin-bottom: 35px;
}

.recipe-content .subtitles {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.recipe-content ul {
  padding-left: 17px;
}

.recipe-content li,
.recipe-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text4);
}

.button-hide {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: var(--color-text3);
  margin: 0 0 3px 15px;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 8px 3px;
  background-color: var(--color-background1);
}

.button-hide:hover {
  border-radius: 15px;
  transition: 600ms;
}

/* == HIDE CONTENT == */
.recipe-content .hidden {
  visibility: hidden;
  height: 0;
}