.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  margin-top: 20px;
}

.card {
  padding: 3px;
}

.card .recipe-image {
  width: 100%;
  height: 145px;
  border-radius: 15px;
  margin-bottom: 20px;

  object-fit: cover;
  object-position: 50% 50%;
}

.card .food-name {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.card .by-chef {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: var(--color-text2);
}

.card:hover {
  border-radius: 15px;
  background-color: rgba(251, 223, 219, 0.8);
  text-align: center;
  
  cursor: pointer;

  transition: all 0.3s;
  transform: scale(1.05, 1.05);
}