
<div class="input-block">
  <label for="name">Nome</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="name"
    type="text" 
    name="name" 
    value="{{ user.name }}" 
    placeholder="Digite o nome completo"
    required
  />
</div>

<div class="input-block">
  <label for="email">Email</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="email"
    type="email" 
    name="email" 
    value="{{ user.email }}" 
    placeholder="Digite o email"
    required
  />
</div>

<div class="input-block">
  <label for="password">Senha</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="password"
    type="password" 
    name="password" 
    placeholder="Digite a senha"
  />
</div>