#chef-manager {
  width: 90vw;
  max-width: 940px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#chef-manager .title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 50px 0 30px;
}

#chef-manager .title h1 {
  font-style: bold;
  font-size: 24px;
  color: var(--color-text1);
  line-height: 28px;
}

#chef-manager .new-chef {
  width: auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text4);

  background-color: var(--color-background1);
  border-radius: 6px;
  padding: 4px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#chef-manager .new-chef:hover {
  transition: all 0.2s;
  transform: scale(1.1, 1.1);
}

#chef-manager .new-chef .material-icons {
  margin-right: 4px;
}

#chef-manager .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 15px;

  margin-bottom: 80px;
}

#chef-manager .card {
  padding: 2px;

  display: grid;
  grid-template: 1fr auto / auto 1fr;
  grid-template-areas:
  "image chefname"
  "image  button";
  column-gap: 20px;

  align-items: center;
}

#chef-manager .card:hover {
  border-radius: 40px 8px 8px 40px;
  background-color: rgba(251, 223, 219, 0.8);
    
  transition-duration: 0.2s;
  transition-property: transform, background;
  transform: scale(1.05, 1.05);
}

#chef-manager .card img {
  width: 64px;
  height: 64px;
  grid-area: image;
  border-radius: 50%;
}

#chef-manager .card .chef-name {
  grid-area: chefname;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text1);
}

#chef-manager .card .view-details {
  grid-area: button;
  width: auto;
  padding: 3px 6px;

  justify-self: start;
  display: flex;
  align-items: center;
  
  background-color: var(--color-background1);
  border-radius: 8px;
  border: 1px solid #fff;
  color: var(--color-text4);
  font-size: 14px;
  font-style: italic;

  cursor: pointer;
}

#chef-manager .card .view-details:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#chef-manager .card .view-details span {
  margin-right: 4px;
  font-size: 20px;
}