<fieldset>

  <div class="input-block">
    <label for="image">Imagem da receita</label>
    <input 
      type="url" 
      name="image" 
      value="{{item.image}}" 
      placeholder="http://"
      required
    />
  </div>
  <div class="input-block">
    <label for="title">Nome da receita</label>
    <input 
      type="text" 
      name="title" 
      value="{{item.title}}" 
      required
    />
  </div>
  <div class="input-block">
    <label for="title">Nome do Chef</label>
    <input 
      type="text" 
      name="author" 
      value="{{item.author}}" 
      required
    />
  </div>

  <div class="input-block" id="ingredients">
    <label for="ingredients">
      Ingredientes
      <button type="button" class="add-ingredient">
        <span class="material-icons">add</span>
        Adicionar novo ingrediente
      </button>
    </label>

    {% if not item.preparation %}
      <div class="ingredient">
        <input 
          type="text"
          name="ingredients[]" 
          value="{{ingredient}}" 
          placeholder="Insira um ingrediente em cada campo" 
          required
        />
        <span class="material-icons delete-field">delete</span>
      </div>
    {% else %}
      {% for ingredient in item.ingredients %}
        <div class="ingredient">
          <input 
            type="text"
            name="ingredients[]" 
            value="{{ingredient}}" 
            placeholder="Insira um ingrediente em cada campo"   
            required
          />
          <span class="material-icons delete-field">delete</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="input-block" id="steps">
    <label for="preparation">
      Modo de preparo
      <button type="button" class="add-step">
        <span class="material-icons">add</span>
        Adicionar novo passo
      </button>
    </label>
    
    {% if not item.preparation %}
      <div class="step">
        <input 
          type="text"
          name="preparation[]" 
          value="{{step}}" 
          placeholder="Insira um passo do preparo em cada campo" 
          required
        />
        <span class="material-icons delete-field">delete</span>
      </div>
    {% else %}
      {% for step in item.preparation %}
        <div class="step">
          <input 
            type="text"
            name="preparation[]" 
            value="{{step}}" 
            placeholder="Insira um passo do preparo em cada campo" 
            required
          />
          <span class="material-icons delete-field">delete</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  
  <div class="textarea-block">
    <label for="information">Informações adicionais</label>
    <textarea name="information" id="information">{{item.information}}</textarea>
  </div>

</fieldset>