{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Criar receita</title>

  <link rel="stylesheet" href="/styles/partials/adminArea/recipes-form.css">
{% endblock %}

{% block content %}

  <div id="recipe-create">
    <div class="header-form">
      <h1>Criando receita</h1>
      
      <div>
        <button type="submit" form="create-recipe">
          <span class="material-icons">save</span>
          Salvar receita
        </button>
      </div>
    </div>

    <form action="/admin/recipes" id="create-recipe" method="POST">
      
      {% include './fields.njk' %}

    </form>
  </div>

{% endblock %}

{% block script %}
  <script src="/scripts/adminArea/addNewField.js"></script>
{% endblock %}