#chef-create {
  font-family: Helvetica;
}

#chef-create {
  width: 90vw;
  max-width: 940px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#chef-create .header-form {
  width: 100%;
  margin-top: 50px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chef-create .header-form h1 {
  font-size: 24px;
  line-height: 28px;
}

#chef-create .header-form > div {
  display: flex;
}

#chef-create .header-form button span {
  margin-right: 5px;
  font-size: 18px;
}

#chef-create .header-form button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: var(--color-buttons1);
  padding: 8px 16px;

  color: #fff;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 19px;

  cursor: pointer;
}

#chef-create .header-form button[type="submit"]:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#chef-create .header-form #delete-chef button {
  margin-right: 10px;
  background-color: var(--color-buttons2);
}

#chef-form {
  width: 100%;

  margin-bottom: 150px;
}

#chef-form .input-block,
#chef-form .avatar-block,
#chef-form .textarea-block {
  margin-top: 30px;

  display: flex;
  flex-direction: column;

  position: relative;
}

#chef-form .input-block:focus-within::after {
  content: "";

  width: 4px;
  border-radius: 4px 0 0 4px;
  background: var(--color-buttons1);

  position: absolute;
  top: 28.5px;
  left: 0;
  bottom: 0;
}

#chef-form label {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text1);

  margin-bottom: 10px;
}

#chef-form input,
#chef-form textarea {
  width: 100%;
  height: 49px;

  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 19px;
}

#chef-form input:disabled::placeholder {
  color: #e3e3e3;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

#chef-form input::placeholder {
  font-size: 14px;
  font-style: italic;
  font-family: Helvetica;
  color: var(--color-text3);
}

#chef-form textarea {
  height: 255px;
  min-height: 49px;
  max-height: 400px;
  resize: vertical;
}

#chef-form .wrapper-photo {
  display: flex;
  align-items: center;
}

#chef-form #photos-chef-upload {
  position: relative;
  
  display: block;
  overflow: hidden;

  width: 140px;
}

#chef-form #photos-chef-upload:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#chef-form #photos-chef-upload p {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px rgb(51, 51, 51);
  background-color: var(--color-buttons1);
  color: white;

  width: 100%;
  text-align: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

#chef-form #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

#chef-form input + .wrapper-photo {
  margin-top: 15px;
}

#chef-form .wrapper-photo span {
  color: #11bd11;
  margin-left: 16px;

  animation: button 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes button {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
  }
}