{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Gerenciador de receitas</title>

  <link rel="stylesheet" href="/styles/partials/adminArea/recipes-manager.css">
  <link rel="stylesheet" href="/styles/partials/adminArea/admin-cards.css">
{% endblock %}

{% block header %}
  {% include './change-header.njk' %}
{% endblock %}

{% block content %}

  <section id="recipe-manager">
    
    <h1>Gerenciar receitas</h1>
    <a href="/admin/recipes/create" class="new-recipe">
      <span class="material-icons">add</span>
      Nova receita
    </a>

    {% for item in items %}
      <div class="card">
        <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
        <p class="food-name">{{ item.title }}</p>
        <p class="by-chef">por {{ item.author }}</p>
        <div class="view-details">
          <span class="material-icons">visibility</span>
          Visualizar
        </div>
      </div>
    {% endfor %}

  </section>

{% endblock %}

{% block footer %}{% endblock  %}

{% block script %}
  <script src="/scripts/adminArea/pages-manager.js"></script>
{% endblock %}