{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsChefs.njk' as clientArea %}

{% block head %}
  <title>FoodFy | Chefs</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', 'true') }}

  <section id="chefs-list">
    
    {% if not message %}
      {{ clientArea.cardsChefs('client', chefs) }}
    {% else %}
      {% include 'parts/message.njk' %}
    {% endif %}

  </section>

  {% include 'parts/footer.njk' %}
{% endblock %}