{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsRecipe.njk' as clientArea %}

{% block head %}
  <title>FoodFy | Home</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', '') }}

  <section id="box-introduction">
    <div class="text-container">
      <h2>As melhores receitas</h2>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>

    <div class="image-container">
      <img src="assets/chef.png" alt="Chef">
    </div>
  </section>

  {% if recipes %}
    <section id="more-access">

      <h3>Mais acessadas</h3>

      {{ clientArea.cardsRecipe('index', 'client', recipes) }}
      
    </section>
  {% endif %}

  {% include 'parts/footer.njk' %}
{% endblock %}