{% extends 'layout.njk' %}

{% block head %}
  <title>Error 404 - FoodFy</title>

  <link rel="stylesheet" href="/styles/partials/page404.css">

{% endblock %}

{% block header %}
  <a href="/">          
    <img src="/assets/logo-admin.png" alt="logo">          
  </a>

  <div class="menu">
    <a href="/">
      <span class="material-icons">home</span>
    </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
  </div>
{% endblock  %}

{% block content %}

  <div class="error-404">
    <img src={{notFoundData.image}} alt="Error 404">
    <h1>{{notFoundData.message}}</h1>
  </div>

{% endblock %}