#about-page {
  margin: 0 auto 50px;

  width: 90vw;
  max-width: 940px;
}

#about-page h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}

#about-page h4 {
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 20px;
}

#about-page .text-history {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text4);
  text-align: justify;
}