{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsRecipe.njk' as adminArea %}

{% block head %}
  <title>FoodFy - Admin |
    {{ chef.name }}</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  <section id="chef-detail" class="admin">
    <div class="edit-chef">
      <h2>Chef:
        {{ chef.name }}</h2>
      {% if session.user.isAdmin %}
        <a href="/admin/chefs/{{ chef.id }}/edit">
          <span class="material-icons">edit</span>
          Editar chef
        </a>
      {% endif %}
    </div>

    <img class="avatar-container" src="{{ file.src }}" alt="{{ file.name }}">

    <div class="chef-title">
      <h1>{{ chef.name }}</h1>
      <p>{{ chef.number_recipes }}
        receita(s)</p>
    </div>

    <div class="chef-recipes">
      <h2>Receitas</h2>

      {% if not message %}
        {{ adminArea.cardsRecipe('', 'admin', recipes) }}
      {% else %}
        {% include 'parts/message.njk' %}
      {% endif %}
    </div>

  </section>
{% endblock %}