{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsChefs.njk' as adminArea %}

{% block head %}
  <title>FoodFy - Admin | Gerenciador de Chefs</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  <section id="chefs-manager">

    <div class="title">
      <h1>Gerenciar chefs</h1>
      {% if session.user.isAdmin %}
        <a href="/admin/chefs/create" class="new-chef">
          <span class="material-icons">add</span>
          Novo chef
        </a>
      {% endif %}
    </div>

    {% if not message %}
      {{ adminArea.cardsChefs('admin', chefs) }}
    {% else %}
      {% include 'parts/message.njk' %}
    {% endif %}

  </section>
{% endblock %}