
<div class="input-block">
  <label for="name">Nome</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="name"
    type="text" 
    name="name" 
    value="{{ user.name }}" 
    placeholder="Digite o nome completo"
  />
</div>

<div class="input-block">
  <label for="email">Email</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="email"
    type="email" 
    name="email" 
    value="{{ user.email }}" 
    placeholder="Digite o email"
  />
</div>

<div class="checkbox-block">
  <div>
    <input 
      {% if error %}class="input-error"{%endif%}
      id="is_admin"
      type="checkbox" 
      name="is_admin" 
      value="1"
      {% if session.user.id == user.id %}disabled{%endif%}
      {% if user.is_admin %}checked{%endif%}
    />
    <label for="is_admin">Admnistrador</label>
  </div>

  {% if session.user.id == user.id %}
    <p>
      <i class="material-icons">warning</i>
      Não é possível alterar essa opção do próprio perfil!
    </p>
  {%endif%}
</div>