{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Gerenciador de Chefs</title>

  <link rel="stylesheet" href="/styles/partials/chefs-list.css">
{% endblock %}

{% block header %}
  {% include './change-header.njk' %}
{% endblock %}

{% block content %}

  <section id="chef-list">
    
    <div class="title">
      <h1>Gerenciar chefs</h1>
      <a href="/admin/chefs/create" class="new-chef">
        <span class="material-icons">add</span>
        Novo chef
      </a>
    </div>

    <div class="cards">
      {% for chef in chefs %}
        <div class="card">
          <span class="image-container" style="background-image: url({{ chef.avatar_url }})"></span>
          <p class="chef-name">{{ chef.name }}</p>
          <a class="view-details" href="/admin/chefs/{{ chef.id }}">
            <span class="material-icons">visibility</span>
            Visualizar
          </a>
        </div>
      {% endfor %}
    </div>

  </section>

{% endblock %}

{% block footer %}{% endblock  %}