<fieldset>  

  <div class="input-block">
    <label for="name">Nome</label>
    <input 
      type="text" 
      name="name" 
      value="{{chef.name}}" 
      required
    />
  </div>

  <div class="input-block">
    <label for="image">Avatar</label>
    <input 
      type="url" 
      name="avatar_url" 
      value="{{chef.avatar_url}}" 
      placeholder="http://"
      required
    />
  </div>

</fieldset>