{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Gerenciador de Chefs</title>

  <link rel="stylesheet" href="/styles/partials/adminArea/chefs-manager.css">
{% endblock %}

{% block header %}
  {% include './change-header.njk' %}
{% endblock %}

{% block content %}

  <section id="chef-list">
    
    <div class="title">
      <h1>Gerenciar chefs</h1>
      <a href="/admin/chefs/create" class="new-chef">
        <span class="material-icons">add</span>
        Novo chef
      </a>
    </div>

    {% if not message %}
      <div class="cards">
        {% for chef in chefs %}
          <div class="card">
            <img class="image-container" src="{{ chef.file_chef.src }}" alt="{{ chef.file_chef.name }}">
            <p class="chef-name">{{ chef.name }}</p>
            <a class="view-details" href="/admin/chefs/{{ chef.id }}">
              <span class="material-icons">visibility</span>
              Visualizar
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="message">
        <h2>{{ message }}</h2>
      </div>
    {% endif %}

  </section>

{% endblock %}

{% block footer %}{% endblock  %}