{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Criar chef</title>

  <link rel="stylesheet" href="/styles/partials/adminArea/chefs-form.css">
{% endblock %}

{% block header %}
  {% include './change-header.njk' %}
{% endblock %}

{% block content %}

  <div id="chef-create">
    <div class="header-form">
      <h1>Criando chef</h1>
      
      <div>
        <button type="submit" form="chef-form">
          <span class="material-icons">save</span>
          Salvar chef
        </button>
      </div>
    </div>

    <form action="/admin/chefs" id="chef-form" method="POST" enctype='multipart/form-data'>
      
      {% include './chefs-fields.njk' %}

    </form>
  </div>

{% endblock %}

{% block footer %}{% endblock  %}

{% block script %}
  <script src="/scripts/adminArea/photoUploadChef.js"></script>
{% endblock %}