{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy - Admin | Criar receita</title>

  <link rel="stylesheet" href="/styles/partials/adminArea/recipes-form.css">
{% endblock %}

{% block header %}
  {% include './change-header.njk' %}
{% endblock %}

{% block content %}

  <div id="recipe-create">
    <div class="header-form">
      <h1>Criando receita</h1>
      
      <div>
        <button type="submit" form="recipe-form">
          <span class="material-icons">save</span>
          Salvar receita
        </button>
      </div>
    </div>

    <form action="/admin/recipes" id="recipe-form" method="POST">
      
      {% include './recipes-fields.njk' %}

    </form>
  </div>

{% endblock %}

{% block footer %}{% endblock  %}

{% block script %}
  <script src="/scripts/adminArea/addOrDeleteField.js"></script>
{% endblock %}