@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
  --color-text1: #111111;
  --color-text2: #777777;
  --color-text3: #999999;
  --color-text4: #444444;
  --color-background1: #FBDFDB;
  --color-buttons1: #6558C3;
  --color-buttons2: #DC4747 ;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: var(--color-text1);
  font-family: 'Roboto', sans-serif;

  padding: 95px 0 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text1);
}

/* == Header == */
header {
  height: 95px;
  padding: 30px 0;
  background-color: var(--color-background1);
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

header .box-menu {
  width: 90vw;
  max-width: 940px;
  display: flex;
  align-items: center;
  position: relative;
}

header .logo {
  margin-right: 120px;
}

header .menu,
header .menu-page-home {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text1);
  margin-right: 30px;
}

header .menu-page-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .menu:hover,
header .menu.active,
header .menu-page-home:hover,
header .menu-page-home.active {
  padding: 1px 6px;
  font-size: 20px;
  line-height: 23px;
  border: 1.5px solid var(--color-text1);
  border-radius: 7px;
  transition: 300ms;
}

header .material-icons {
  position: absolute;
  right: 0;
  cursor: pointer;
}

header .material-icons:hover {
  font-size: 28px;
  transition: 300ms;
}

/* == Footer == */
footer {
  background-color: #EEEEEE;
  padding: 23px 0;
  margin-top: 50px;

  width: 100%;
}

footer p {
  font-size: 14px;
  color: var(--color-text3);
  text-align: center;
}