#recipe-manager,
#recipe-manager button {
  font-family: Helvetica;
}

#recipe-manager {
  width: 90vw;
  max-width: 940px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;

  margin-bottom: 150px;
}

#recipe-manager h1 {
  margin: 50px 0 10px;
  font-style: bold;
  font-size: 24px;
  color: var(--color-text1);
  line-height: 28px;
  align-self: flex-end;
}

#recipe-manager .new-recipe {
  width: auto;
  margin: 50px 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text4);
  line-height: 18px;

  background-color: var(--color-background1);
  border-radius: 6px;
  padding: 4px 10px;

  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#recipe-manager .pagination {
  grid-column: 1 / span 2;

  margin: 0 0 10px;
}

#recipe-manager .new-recipe:hover {
  transition: all 0.2s;
  transform: scale(1.1, 1.1);
}

#recipe-manager .new-recipe .material-icons {
  margin-right: 4px;
}

#recipe-manager .message {
  text-align: center;

  margin-top: 100px;
  width: 100%;

  grid-column: span 2;
}

#recipe-manager .message h2 {
  color: var(--color-text3);
  opacity: .7;
  font-weight: normal;
}