body {
  padding: 95px 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#recipe-create {
  width: 90vw;
  max-width: 940px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-create .header-form {
  width: 100%;
  margin-top: 50px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#recipe-create .header-form h1 {
  font-size: 24px;
  line-height: 28px;
}

#recipe-create .header-form > div {
  display: flex;
}

#recipe-create .header-form button span {
  margin-right: 5px;
  font-size: 18px;
}

#recipe-create .header-form button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: var(--color-buttons1);
  padding: 8px 16px;

  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

#recipe-create .header-form button[type="submit"]:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#recipe-create .header-form #delete-recipe button {
  margin-right: 10px;
  background-color: var(--color-buttons2);
}

#create-recipe {
  width: 100%;
}

#create-recipe .input-block,
#create-recipe .textarea-block {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
}

#create-recipe label {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: var(--color-text1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

#create-recipe label button {
  color: var(--color-buttons1);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#create-recipe label button span {
  margin-right: 4px;
}

#create-recipe label button:hover {
  transition: 0.2s;
  transform: translateY(-3px);
}

#create-recipe input,
#create-recipe textarea {
  width: 100%;
  height: 49px;

  padding: 8px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;
}

#create-recipe input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: var(--color-text3);
}

#create-recipe textarea {
  height: 255px;
  min-height: 49px;
  max-height: 400px;
  resize: vertical;

  margin-bottom: 50px;
}

#create-recipe .ingredient + .ingredient,
#create-recipe .step + .step {
  margin-top: 8px;
}