
<div class="input-block">
  <label for="name">Nome</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="name"
    type="text" 
    name="name" 
    value="{{ user.name }}" 
    placeholder="Digite o nome completo"
  />
</div>

<div class="input-block">
  <label for="email">Email</label>
  <input 
    {% if error %}class="input-error"{%endif%}
    id="email"
    type="email" 
    name="email" 
    value="{{ user.email }}" 
    placeholder="Digite o email"
  />
</div>

<div class="checkbox-block">
  <input 
    {% if error %}class="input-error"{%endif%}
    id="is_admin"
    type="checkbox" 
    name="is_admin" 
    value="1"
    {% if user.is_admin == "1" %}checked{%endif%}
  />
  <label for="is_adm">Admnistrador</label>
</div>