{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}

{% block head %}
  <title>Error 404 - FoodFy</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', '') }}

  <section id="error-404">
    <img src={{notFoundData.image}} alt="Error 404">
    <h1>{{notFoundData.message}}</h1>
  </section>

  {% include 'parts/footer.njk' %}
{% endblock %}