<script src="/scripts/addOrDeleteField.js"></script>
<script src="/scripts/alert-delete.js"></script>
<script src="/scripts/click-recipes.js"></script>
<script src="/scripts/gallery.js"></script>
<script src="/scripts/menu.js"></script>
<script src="/scripts/pagination.js"></script>
<script src="/scripts/photoChef.js"></script>
<script src="/scripts/photoRecipe.js"></script>
<script src="/scripts/showHideInfo.js"></script>
<script src="/scripts/theme.js"></script>