{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/sectionRecipeDetail.njk' as section %}

{% block head %}
  <title>FoodFy - Admin | {{ recipe.title }}</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  {{ section.recipeDetail('admin', recipe, files) }}
{% endblock %}