<fieldset>

  <div class="photos-block">
    <label for="photos">Imagem da receita</label>
    <div>
      <div id="photos-upload">
        <input 
          id="photos-input"
          type="file" 
          name="photos" 
          multiple
          accept="image/*"
          onchange="PhotosUpload.handleFileInput(event)"
        >
        <div class="add-photo">
          <i class="material-icons">add</i>
        </div>
      </div>
      
      <div id="photos-preview">
        {% if files %}
        
          {% for image in files %}
            <div id="{{ image.id }}" class="photo">
              <img src="{{ image.src }}" alt="{{ image.name }}">
              <i 
                class="material-icons"
                onclick="PhotosUpload.removeOldPhoto(event)"
              >close</i>
            </div>
          {% endfor %}

          <input type="hidden" name="removed_files">
        {% endif %}
      </div>
    </div>
  </div>

  <div class="input-block">
    <label for="title">Nome da receita</label>
    <input 
      id="title"
      type="text" 
      name="title" 
      value="{{recipe.title}}" 
      required
    />
  </div>

  <div class="select-block">
    <label for="chef">Chef</label>
    <select id="chef" name="chef_id" required>
      <option value="" hidden>Selecione um chef</option>
      {% for chef in chefOptions %}
        <option 
          value="{{ chef.id }}"
          {% if recipe.chef_id == chef.id %}selected{% endif %}
        >
          {{ chef.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div id="ingredients">
    <label for="insert-ingredient">
      Ingredientes
      <button type="button" class="add-ingredient">
        <span class="material-icons">add</span>
        Adicionar novo ingrediente
      </button>
    </label>

    {% if not recipe.preparation %}
      <div class="ingredient">
        <input
          id="insert-ingredient"
          type="text"
          name="ingredients[]" 
          value="{{ingredient}}" 
          placeholder="Insira um ingrediente em cada campo" 
          required
        />
        <span class="material-icons delete-field">delete</span>
      </div>
    {% else %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input 
            id="insert-ingredient"
            type="text"
            name="ingredients[]" 
            value="{{ingredient}}" 
            placeholder="Insira um ingrediente em cada campo"   
            required
          />
          <span class="material-icons delete-field">delete</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div id="steps">
    <label for="preparation">
      Modo de preparo
      <button type="button" class="add-step">
        <span class="material-icons">add</span>
        Adicionar novo passo
      </button>
    </label>
    
    {% if not recipe.preparation %}
      <div class="step">
        <input 
          id="preparation"
          type="text"
          name="preparation[]" 
          value="{{step}}" 
          placeholder="Insira um passo do preparo em cada campo" 
          required
        />
        <span class="material-icons delete-field">delete</span>
      </div>
    {% else %}
      {% for step in recipe.preparation %}
        <div class="step">
          <input 
            id="preparation"
            type="text"
            name="preparation[]" 
            value="{{step}}" 
            placeholder="Insira um passo do preparo em cada campo" 
            required
          />
          <span class="material-icons delete-field">delete</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  
  <div class="textarea-block">
    <label for="information">Informações adicionais</label>
    <textarea id="information" name="information" id="information">{{recipe.information}}</textarea>
  </div>

</fieldset>