{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsRecipe.njk' as adminArea %}

{% block head %}
  <title>FoodFy - Admin | Gerenciador de receitas</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  <section id="recipes-manager">
    
    <h1>Gerenciar receitas</h1>
    <a href="/admin/recipes/create" class="new-recipe">
      <span class="material-icons">add</span>
      Nova receita
    </a>

    {% include 'parts/pagination.njk' %}

    {% if not message %}
      {{ adminArea.cardsRecipe('', 'admin', recipes) }}
    {% else %}
      {% include 'parts/message.njk' %}
    {% endif %}

  </section>
{% endblock %}