{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy | Home</title>

  <link rel="stylesheet" href="/styles/partials/clientArea/index.css">
  <link rel="stylesheet" href="/styles/partials/clientArea/cards.css">
{% endblock %}

{% block content %}

  <section id="box-introduction">
    <div class="text-container">
      <h2>As melhores receitas</h2>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>

    <div class="image-container">
      <img src="assets/chef.png" alt="Chef">
    </div>
  </section>

  <section id="more-acess">

    <h3>Mais acessadas</h3>

    <div class="cards">

      {% for item in items %}
        <div class="card">
          <img src="{{ item.image }}" alt="{{ item.title }}">
          <p class="food-name">{{ item.title }}</p>
          <p class="by-chef">{{ item.author }}</p>
        </div>
      {% endfor %}

    </div>
  </section>

{% endblock %}

{% block script %}
  <script src="/scripts/clientArea/recipes.js"></script>
{% endblock %}