{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy | Receitas</title>

  <link rel="stylesheet" href="/styles/partials/recipes.css">
  <link rel="stylesheet" href="/styles/partials/clientArea/cards.css">
{% endblock %}

{% block content %}

  <section id="recipe-page">
    <div class="cards">

      {% for item in items %}
        <div class="card">
          <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
          <p class="food-name">{{ item.title }}</p>
          <p class="by-chef">{{ item.author }}</p>
        </div>
      {% endfor %}

    </div>
  </section>

{% endblock %}

{% block script %}
  <script src="/scripts/clientArea/recipes.js"></script>
{% endblock %}