{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}

{% block head %}
  <title>FoodFy - Admin | Criar receita</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  <section id="recipe-create">
    <div class="header-form">
      <h1>Criando receita</h1>
      
      <div>
        <button type="submit" form="recipe-form">
          <span class="material-icons">save</span>
          Salvar receita
        </button>
      </div>
    </div>

    <form 
      id="recipe-form" 
      action="/admin/recipes" 
      method="POST" 
      enctype='multipart/form-data'
      onsubmit="PhotosUpload.checkNumberFiles(event)"
    >
      
      {% include './recipe-fields.njk' %}

    </form>
  </section>

{% endblock %}