{% extends 'layout.njk' %}

{% block head %}
  <title>FoodFy | Chefs</title>

  <link rel="stylesheet" href="/styles/partials/clientArea/chefs.css">
{% endblock %}

{% block header %}
  <a href="/">          
    <img src="/assets/logo.png" alt="logo">          
  </a>

  <div class="menu">
    <a href="/">
      <span class="material-icons">home</span>
    </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
  </div>
{% endblock %}

{% block content %}

  <section id="chef-list">
    
    {% if not message %}
      <div class="cards">
        {% for chef in chefs %}
          <div class="card">
            <img class="image-container" src="{{ chef.file_chef.src }}" alt="{{ chef.name }}">
            <p class="chef-name">{{ chef.name }}</p>
            <div class="footer">
              <a class="view-details" href="/chefs/{{ chef.id }}">
                <span class="material-icons">visibility</span>
              </a>
              <div class="number-recipes">
                {{ chef.number_recipes }}
                <span class="material-icons">receipt</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    {% else %}
      <div class="message">
        <h2>{{ message }}</h2>
      </div>
    {% endif %}

  </section>

{% endblock %}