#recipe-page {
  min-width: 940px;
  margin: 0 15vw 50px;
}

#recipe-detail h3 {
  font-size: 24px;
  line-height: 28px;
}

#recipe-detail {
  min-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15vw 15px;
}

#recipe-detail img {
  border-radius: 15px;
}

.recipe-title {
  text-align: center;
  margin: 50px auto;
}

.recipe-title h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 4px;
}

.recipe-title p {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: var(--color-text2);
}

.recipe-content {
  width: 940px;
  margin-bottom: 35px;
}

.recipe-content .subtitles {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.recipe-content ul {
  padding-left: 17px;
}

.recipe-content li,
.recipe-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text4);
}

.button-hide {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: var(--color-text3);
  margin: 0 0 3px 15px;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 8px 3px;
  background-color: var(--color-background1);
}

.button-hide:hover {
  border-radius: 15px;
  transition: 600ms;
}

/* == HIDE BOX RECIPE == */
.recipe-content .hidden {
  visibility: hidden;
  height: 0;
}