{% macro recipeDetail(page, recipe, files, userInSession) %}

  <section id="recipe-detail" class="{{page}}">

    {% if page == 'admin' %}
      <div class="edit-recipe">
        <h2>Receita: {{ recipe.title }}</h2>

        {% if userInSession.isAdmin or userInSession.id == recipe.user_id %}
          <a href="/admin/recipes/{{recipe.id}}/edit">
            <span class="material-icons">edit</span>
            Editar receita
          </a>
        {% endif %}
      </div>
    {% endif %}

    <div class="gallery">
      <div class="highlight">
        {% if not files[0] %}
          <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
        {% else %}
          <img 
            src="{{ files[0].src }}" 
            alt="{{ files[0].name}}"
          >
        {% endif%}
      </div>

      <div class="thumbnails">
        {% for image in files %}
          <img 
            src="{{ image.src }}" 
            alt="{{ image.name }}"
            {% if loop.index0 == 0 %}
              class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
          >
        {% endfor %}
      </div>
    </div>

    <div class="recipe-title">
      <h1>{{ recipe.title }}</h1>
      <p>por {{ recipe.chef_name }}</p>
    </div>

    <div class="recipe-content">
      <div class="subtitles">
        <h3>Ingredientes</h3>
        <span id="box1" class="button-hide">ESCONDER</span>
      </div>
      <ul id="box1" class="box">
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="recipe-content">
      <div class="subtitles">
        <h3>Modo de preparo</h3>
        <span id="box2" class="button-hide">ESCONDER</span>
      </div>
      <ul id="box2" class="box">
        {% for step in recipe.preparation %}
          <li>{{ step }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="recipe-content">
      <div class="subtitles">
        <h3>Informações adicionais</h3>
        <span id="box3" class="button-hide">ESCONDER</span>
      </div>
      <p id="box3" class="box">{{ recipe.information }}</p>
    </div>
  </section>

{% endmacro %}