{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}

{% block head %}
  <title>FoodFy - Admin | Criar chef</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('admin-area', '') }}

  <div id="chef-create">
    <div class="header-form">
      <h1>Criando chef</h1>
      
      <div>
        <button type="submit" form="chef-form">
          <span class="material-icons">save</span>
          Salvar chef
        </button>
      </div>
    </div>

    <form 
      id="chef-form" 
      action="/admin/chefs"  
      method="POST" 
      enctype='multipart/form-data'>
      
      {% include './chef-fields.njk' %}

    </form>
  </div>

{% endblock %}