#chefs-list {
  width: 90vw;
  max-width: 940px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 150px;
}

#chefs-list .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 15px;

  margin-top: 30px;
}

#chefs-list .card {
  padding: 2px;

  display: grid;
  grid-template: 1fr auto / auto 1fr;
  grid-template-areas:
  "image chefname"
  "image  button";
  column-gap: 20px;

  align-items: center;
}

#chefs-list .card:hover {
  border-radius: 40px 8px 8px 40px;
  background-color: rgba(251, 223, 219, 0.8);
    
  transition-duration: 0.2s;
  transition-property: transform, background;
  transform: scale(1.05, 1.05);
}

#chefs-list .card .image-container {
  width: 64px;
  height: 64px;
  grid-area: image;
  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 50%;
}

#chefs-list .card .chef-name {
  grid-area: chefname;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text1);
}

#chefs-list .card .view-details {
  width: auto;
  padding: 3px 6px;
  margin-bottom: 2px;

  justify-self: start;
  display: flex;
  align-items: center;
  
  background-color: var(--color-background1);
  border-radius: 8px;
  border: 1px solid #fff;
  color: var(--color-text4);
  font-size: 14px;
  font-style: italic;

  cursor: pointer;
}

#chefs-list .card .view-details:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

#chefs-list .card .view-details span {
  margin-right: 4px;
  font-size: 20px;
}

#chefs-list .card .footer {
  grid-area: button;

  display: flex;
  align-items: center;
  
  width: 100%;
  margin-bottom: 4px;
}

#chefs-list .card .footer .view-details span {
  margin-right: 0;
}

#chefs-list .card .footer .number-recipes {
  width: auto;
  padding: 3px 8px;
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 14px;
  font-style: italic;

  display: flex;
  align-items: center;
  
  background-color: var(--color-background1);
  border-radius: 8px;
  border: 1px solid #fff;
  color: var(--color-text4);
}

#chefs-list .card .footer .number-recipes span {
  margin-left: 6px;
  font-size: 20px;
}