{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsRecipe.njk' as clientArea %}

{% block head %}
  <title>FoodFy | {{ chef.name }}</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', '') }}

  <section id="chef-detail">
    <img class="avatar-container" src="{{ file.src }}" alt="{{ file.name }}">

    <div class="chef-title">
      <h1>{{ chef.name }}</h1>
      <p>{{ chef.number_recipes }} receita(s)</p>
    </div>

    <div class="chef-recipes">
      <h2>Receitas</h2>

      {% if not message %}
        {{ clientArea.cardsRecipe('', 'client', recipes) }}
      {% else %}
        {% include 'parts/message.njk' %}
      {% endif %}
    </div>
  </section>

  {% include 'parts/footer.njk' %}
{% endblock %}