{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/cardsRecipe.njk' as clientArea %}

{% block head %}
  <title>FoodFy | Receitas</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', '') }}

  <section id="recipe-page">
    {% include 'parts/pagination.njk' %}

    {% if not message %}
      {{ clientArea.cardsRecipe('', 'client', recipes) }}
    {% else %}
      {% include 'parts/message.njk' %}
    {% endif %}
    
  </section>

  {% include 'parts/footer.njk' %}
{% endblock %}