{% extends 'layout.njk' %}
{% import 'parts/header.njk' as nunjucks %}
{% import 'parts/sectionRecipeDetail.njk' as section %}

{% block head %}
  <title>FoodFy | {{ recipe.title }}</title>
{% endblock %}

{% block content %}
  {{ nunjucks.checkHeader('', '') }}

  {{ section.recipeDetail('', recipe, files) }}

  {% include 'parts/footer.njk' %}
{% endblock %}